input[type=text], select, textarea{
    width: 10cm;
    padding: 8px;
    border: 1px solid rgba(22, 8, 31, 0.932);
    border-radius: 4px;
    box-sizing: border-box;
    margin-left:auto;
    resize: vertical;
    box-shadow: 2px 2px;
    
  }
  label {
    padding: 6px 6px 6px 0;
    display: inline-block;
  }

input[type=submit] {
    background-color: #060b2f;
    border: none;
    color: white;
    padding: 8px 36px;
    text-decoration: none;
    border-radius: 4px;
    border: 2px solid #ccc;
    margin: 5px 4px;
    margin-left: 5cm;
    cursor: pointer;  

}
div{
    text-align: left;
}

.headings{
    margin-left: 4cm;
    font-style: bold;
    font-size: 26px;
    color: #060b2f;
    text-decoration-line: underline;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.yatharth{
   column-width: 0px; 
   border-spacing: 10px;
   
}
input{
  margin-left: 2.5cm;
}
button{
    background-color: #060b2f;
    border: none;
    color: white;
    padding: 8px 8px;
    text-decoration: none;
    border-radius: 4px;
    border: 2px solid #ccc;
    /* margin: 5px 4px; */
    cursor: pointer;
}
.send{
  background-color: #060b2f;
    border: none;
    color: white;
    padding: 8px 8px;
    text-decoration: none;
    border-radius: 4px;
    border: 2px solid #ccc;
    /* margin: 5px 4px; */
    cursor: pointer;
    margin-left: 6cm;
}